    @charset "UTF-8";

    *,
    ::before,
    ::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    a {
        text-decoration: none;
        display: block;

    }

    li {
        list-style: none;
    }

    img {
        vertical-align: bottom;
        width: 100%;
    }

    :root {
        --text-color: #243441;
        --text2-color: #fff7ee;
        --familyJP-font-family: "Klee One", cursive;
        --familyEN-font-family: "PT Serif", serif;
        --familyEN2-font-family: "Dancing Script", cursive;
        --Maxwidth-max-width: 1600px;
        --bg-background-color: #1c1a17;
        --gold--color: rgb(206, 119, 65);
        --back--background-color: #e4eef1;

    }

    body {
        overflow-x: hidden;
    }

    p {
        color: var(--text-color);
    }

    header {
        width: 100%;
        padding: 0 50px;
        max-width: var(--Maxwidth-max-width);
        position: fixed;
        top: 30px;
        z-index: 100;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        animation: header 0.8s linear 3s both;
    }

    @keyframes header {
        0% {
            top: -60px;
        }

        100% {
            top: 30px;
        }
    }

    .left {
        width: 3%;
        height: 50px;
        justify-self: flex-start;
    }

    header nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        padding: 10px 40px;
    }

    header nav a {
        color: var(--text-color);
        font-size: 22px;
        font-family: var(--familyEN-font-family);
    }

    .right {
        justify-self: flex-end;
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.9);
        border-radius: 20px;
    }

    .right .social {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px 0 5px;
        clip-path: inset(0 0 100% 0);
        transition: all 0.3s;
        position: absolute;
    }

    .right li:nth-of-type(2):hover .social {
        clip-path: inset(0 0 0 0);
    }

    .right ul {
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;

    }

    .right li,
    nav ul li {
        transition: all 0.2s;
    }

    .right li:hover,
    nav li:hover {
        transform: translateY(5px);
        cursor: pointer;
    }

    .iro li,
    .iro li a {
        color: var(--text-color);
        font-family: var(--familyEN-font-family);
        font-size: 16px;
    }

    .social .sns {
        color: var(--text2-color);
    }

    .social .sns.kirikae {
        color: var(--text-color);
    }

    .huwa {
        opacity: 0;
    }

    .section1 {
        height: 100vh;
        background: url(../img/top-img2.jpg) center/cover no-repeat;
        position: relative;
        overflow: hidden;
        animation: zoom 2.6s linear both;
        margin-bottom: 200px;
    }

    @keyframes zoom {
        0% {
            opacity: 0.1;
            scale: 2;
        }

        50% {
            opacity: 0.5;
            scale: 1.5;
        }

        100% {
            opacity: 1;
            scale: 1;
        }
    }

    .section1::after {
        content: "";
        display: block;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, transparent 40%, #fbfeff);
        backdrop-filter: blur(1.5px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .rings {
        position: relative;
        z-index: 100;

    }

    .ue,
    .shita {
        display: flex;
        justify-content: space-between;
        width: 66%;
        margin: -50px auto 0;
    }

    .ue {
        animation: ops 1s linear 2s both;
    }

    @keyframes ops {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .shita {
        width: 43%;
        margin: -50px auto;
        animation: ops 1s linear 2.5s both;
    }


    .topring {
        width: 180px;
        height: 180px;
        display: grid;
        place-content: center;
        background-image: radial-gradient(rgba(255, 255, 255, 1), transparent);
        border-radius: 50%;
    }

    .topring img {
        object-fit: contain;
        width: 160px;
        height: 160px;
        border-radius: 50%;
    }

    .backbutton {
        display: inline-block;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.7);
        font-family: var(--familyJP-font-family);
        color: #000;
        transition: all 0.2s;
        display: grid;
        place-items: center;
        border-radius: 50%;
        width: 120px;
        aspect-ratio: 1/1;
        position: fixed;
        bottom: 30px;
        right: 20px;
        z-index: 9999;
        transition: all 0.2s;
        opacity: 0;

    }

    .backbutton.look {
        opacity: 1;
    }

    .backbutton:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .text1 {
        font-family: var(--familyJP-font-family);
        text-shadow: 2px 2px 1px #333;
        color: var(--text2-color);
        position: relative;
        z-index: 200;
        text-align: center;
        padding-top: 250px;
        clip-path: inset(0 0 100% 0);
        animation: toptext 2s linear 0.5s both;
    }

    @keyframes toptext {
        0% {
            clip-path: inset(0 100% 0 0);
        }

        100% {
            clip-path: inset(0 0 0 0);
        }
    }

    h1 {
        font-size: 60px;
        font-family: var(--familyEN2-font-family);
        padding-bottom: 15px;
    }

    .text1 p {
        color: var(--text2-color);
        font-size: 28px;
        font-family: var(--familyJP-font-family);
    }

    .ringCollection {
        padding: 80px 0 60px;
        position: relative;
    }

    .ringCollection .top,
    .ringCollection .bottom {
        overflow: hidden;
        display: flex;

    }

    .ringCollection .top {
        gap: 80px;

    }

    .ringCollection .bottom ul:nth-of-type(2) {
        margin-left: 80px;
    }

    .ringCollection .top ul,
    .ringCollection .bottom ul {
        display: flex;
        gap: 80px;
        width: max-content;
        animation: nagare 30s linear infinite .5s both;
    }

    .ringCollection .bottom ul {
        animation: hantai 30s linear infinite .5s both;
    }

    @keyframes nagare {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes hantai {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }


    .ringCollection .bottom ul {
        margin-left: 130px;
    }

    .ringCollection ul li img {
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        filter: saturate(20%);
        transition: all 0.2s;
    }

    .ringCollection ul li img:hover {
        filter: saturate(80%);
    }

    .gradation {
        background: linear-gradient(180deg, #fbfeff 23%, #76c0f9 50%, #2e4e95 70%, #19387c 100%);
        position: relative;
        z-index: 0;

    }

    #tamesi {
        cursor: pointer;
    }

    .gradation::after {
        content: "";
        display: block;
        background: url(../img/bluekirakira2.png) center/contain repeat-y;
        height: 590vh;
        width: 100%;
        max-width: 2000px;
        position: absolute;
        top: 100vh;
        left: 0;
        z-index: 1;
        pointer-events: none;
        /* 疑似要素をcss変数で動かしている */
        transform: translate3d(0, var(--ky, 0px), 0);
        will-change: transform;
    }

    .gradation>* {
        position: relative;
        z-index: 2;
    }

    .poem {
        text-align: center;
        color: var(--text-color);
        position: relative;
        overflow: hidden;
        padding-bottom: 250px;

    }

    .poem::before {
        content: "";
        display: block;
        background: url(../img/gold.png) center/cover no-repeat;
        rotate: 220deg;
        width: 600px;
        height: 600px;
        position: absolute;
        left: -150px;
        bottom: -100px;
        z-index: 0;
    }

    .poem::after {
        content: "";
        display: block;
        background: url(../img/gold.png) center/cover no-repeat;
        width: 600px;
        height: 600px;
        position: absolute;
        right: -180px;
        bottom: 300px;
        z-index: 0;
    }


    .poem h2 {
        font-size: 50px;
        font-family: var(--familyEN2-font-family);
        letter-spacing: 2px;
        padding: 0 0 80px;
        color: rgb(229, 198, 23);
    }


    .poemcontent {
        display: flex;
        flex-direction: column;
        gap: 40px;

    }

    .poem p {
        font-size: 21px;
        font-family: var(--familyJP-font-family);
        line-height: 2.8;
    }


    .border {
        position: absolute;
        bottom: 0;
        left: 50%;

    }

    .border img {
        width: 2px;
        height: 190px;
    }

    .border::after {
        content: "";
        display: block;
        width: 6px;
        aspect-ratio: 1/1;
        transform: rotate(45deg);
        background-color: rgb(198, 175, 43);
        position: absolute;
        top: 10px;
        left: -2px;
        z-index: 500;
        animation: sitasen 3s ease-in infinite;
    }

    .listenMusic {
        width: 80%;
        margin: 0 auto;
        padding: 180px 0 280px;
        /* padding-bottom: 280px; */
        color: var(--text-color);
        font-family: var(--familyJP-font-family);
        position: relative;
    }

    .categorytitle,
    .collectiontitle {
        text-align: center;
        color: var(--text2-color);
        text-shadow: 1px 1px 1px #333;
        width: 500px;
        margin: 0 auto 60px;
        padding: 5px 0;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 30px;
        border: 2px solid rgba(255, 255, 255, 0.6);
    }

    .listenMusic h2,
    .collection h2 {
        text-align: center;
        font-size: 50px;
        font-family: var(--familyEN2-font-family);
        font-weight: 1000;
        display: inline-block;
    }

    .categorytitle span,
    .collectiontitle span {
        display: block;
        font-family: var(--familyJP-font-family);
        font-size: 20px;
    }

    .listenMusic .annai {
        padding-bottom: 100px;
        color: var(--text-color);
    }

    .category li {
        width: 60%;
        margin: 0 auto 50px;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 20px 50px;
        border-radius: 30px;
        border: 2px solid rgba(255, 255, 255, 0.6);
        transition: all 0.2s;
    }

    .category li:hover {
        cursor: pointer;
        scale: 1.05;
        background-color: rgba(68, 16, 111, 0.3);

    }

    .category li a {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        justify-content: space-around;
    }

    .categoryleft img {
        width: 130px;
    }

    .categorycenter p {
        color: var(--text2-color);
    }

    .categorycenter h3 {
        color: var(--text2-color);
        font-family: var(--familyEN2-font-family);
        padding-bottom: 15px;
        font-size: 40px;
    }

    .categoryright img {
        width: 130px;
        border-radius: 50%;
    }

    .listenMusic .button,
    .collection .button {
        display: block;
        width: 240px;
        text-align: center;
        color: var(--text2-color);
        font-family: var(--familyJP-font-family);
        font-size: 18px;
        background-color: rgba(255, 255, 255, 0.2);
        border: 2px solid rgba(255, 255, 255, 0.6);
        padding: 15px 0;
        margin: 0 auto;
        position: relative;
        transition: all 0.2s;

    }

    .collection .button {
        width: 270px;
    }

    .collection button {
        width: 280px;
    }


    .listenMusic .button::after,
    .collection .button::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 22px;
        right: 10px;
        transition: all 0.5s;

    }

    .listenMusic .button:hover,
    .collection .button:hover {
        background-color: rgba(68, 16, 111, 0.3);
    }

    .listenMusic button:hover::after,
    .collection button:hover::after {
        transform: translateX(8px);

    }

    .collection {
        margin: 0 auto;
        padding: 120px 0 200px;
    }

    .collectiontitle {
        margin: 0 auto 60px;
        color: var(--text2-color);
        text-shadow: 1px 1px 1px #333;
    }

    .collection span {
        font-family: var(--familyEN-font-family);
    }

    .annai {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        line-height: 3;
        color: var(--text2-color);
        font-family: var(--familyJP-font-family);
        font-size: 20px;
    }

    .br {
        display: none;
    }

    @keyframes sitasen {
        0% {
            top: 0;
            opacity: 0;
        }

        20% {
            opacity: 0.2;
        }

        40% {
            opacity: 0.6;

        }

        50% {
            opacity: 1;
        }

        100% {
            top: 100%;
            opacity: 0;
        }
    }

    footer {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 30px 0;
        border-radius: 200px 200px 0 0;
        border: 3px solid rgba(255, 255, 255, 0.6);
        border-bottom: transparent;
        text-align: center;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    footer h3 {
        font-family: var(--familyJP-font-family);
        font-size: 40px;
    }

    footer nav ul {
        display: flex;
        justify-content: center;
        gap: 70px;
    }

    footer nav li a {
        font-family: var(--familyEN-font-family);
        color: var(--text-color);
        font-size: 22px;
        color: #000;
    }

    .detailfooter ul {
        display: flex;
        justify-content: center;
        gap: 70px;
        font-size: 15px;
        font-family: var(--familyEN-font-family);
    }

    .detailfooter li a {
        color: #000;
    }

    footer span {
        font-size: 14px;
        font-family: var(--familyEN-font-family);
        color: #000;

    }

    /* @media screen and (max-width: 2000px) {
        header {
            max-width: 2000px;
        }
    } */
    @media screen and (max-width: 2000px) {
        header {
            max-width: 2000px;
        }
    }

    @media screen and (max-width: 1200px) {

        header .left {
            display: none;
        }

        header {
            display: flex;
            justify-content: space-between;
        }

        header nav {
            width: 80%;
        }

        header li a {
            font-size: 20px;
        }

        .topring img {
            width: 130px;
        }

        .topring {
            width: 140px;
            height: 140px;
        }

        .ue {
            width: 300px;
            margin: 70px auto 0;
        }

        .shita {
            display: none;
        }

        .category li {
            width: 90%;
        }

        .gradation::after {
            height: 650vh;
        }
    }

    @media screen and (max-width: 1024px) {
        header {
            /* padding: 0 20px; */
            animation: header 0s;
            position: static;
        }

        header .left {
            display: block;
            width: 50px;
            height: 50px;
            background: rgba(275, 275, 275, 0.5);
            border: 2px solid rgba(255, 255, 255, 0.9);
            border-radius: 50%;
            position: fixed;
            top: 26px;
            right: 200px;
            z-index: 500;
            opacity: 1;

        }

        .left span {
            width: 30px;
            height: 0.8px;
            background-color: #333;
            position: absolute;
            top: 50%;
            left: 8px;
        }

        .left span:first-of-type {
            top: 35%;
        }

        .left span:nth-of-type(3) {
            top: 65%;
        }

        .left.open,
        .right.open {
            background: rgba(255, 255, 255, 0.9);
            position: fixed;
            top: 30px;
        }

        .left.open span:first-of-type {
            transform: rotate(45deg);
            top: 50%;
        }

        .left.open span:nth-of-type(2) {
            background-color: transparent;
        }

        .left.open span:nth-of-type(3) {
            transform: rotate(-45deg);
            top: 50%;
        }

        header nav ul {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            gap: 40px;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            padding: 0;
            margin: 0;
            z-index: 401;
            background-color: var(--back--background-color);
            opacity: 0;
            border-radius: 0;
            border: none;
            transform: translateX(100%);
        }

        header nav ul.open {
            opacity: 1;
            pointer-events: auto;
        }

        .right {
            position: fixed;
            top: 30px;
            right: 15px;
            z-index: 401;
        }

        .right ul {
            gap: 10px;
        }

        .gradation::after {
            height: 670vh;
        }

        .categorytitle,
        .collectiontitle {
            width: 80%;
        }

        .category li {
            width: 100%;
        }

        .poem p {
            font-size: 20px;
        }

        .annai {
            width: 100%;
            font-size: 18px;
        }

        footer {
            border-radius: 50px 50px 0 0;
        }

        .backbutton {
            width: 100px;
        }

    }


    @media screen and (max-width: 768px) {

        header .left {
            right: 170px;
        }

        h1 {
            font-size: 56px;
        }

        .section1 {
            margin-bottom: 150px;
        }

        .gradation::after {
            height: 650vh;
        }

        .poem h2 {
            font-size: 42px;
        }

        .poem p {
            font-size: 18px;
            line-height: 2.2;
        }

        .poem::before {
            left: -200px;
        }

        .poem::after {
            right: -230px;
            bottom: 220px;
        }

        .listenMusic {
            padding: 80px 0 250px;
        }

        .annai {
            font-size: 17px;
        }

        .category li:last-of-type h3 {
            font-size: 24px;
        }

        .br {
            display: block;
        }

        .category li {
            margin: 0 auto 20px;
            padding: 20px;
        }

        .category li a {
            gap: 10px;
            justify-content: space-between;
        }

        footer nav ul {
            gap: 30px;
        }

        footer nav li a {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 570px) {

        .gradation::after {
            height: 440vh;
        }

        .backbutton {
            width: 80px;
            font-size: 12px;
        }

        header .left {
            right: 150px;
        }

        .iro li,
        .iro li a {
            font-size: 12px;
        }

        .section1 {
            width: 100svw;
            height: 100svh;
            margin-bottom: 100px;
        }

        .text1 {
            padding-top: 180px;
        }

        h1 {
            font-size: 30px;
        }

        .text1 p {
            font-size: 18px;
        }

        .poem {
            padding-bottom: 150px;
        }

        .poem h2 {
            font-size: 28px;
        }

        .poemcontent {
            gap: 20px;
        }

        .poem p {
            font-size: 14px;
        }

        .poem::after,
        .poem::before {
            width: 300px;
        }

        .border img {
            width: 1.5px;
            height: 130px;
        }

        .border::after {
            width: 5px;
            left: -1.62px;
        }

        .category li a {
            gap: 20px;
        }

        .listenMusic {
            padding: 60px 0 150px;
        }

        .listenMusic h2,
        .collectiontitle h2 {
            font-size: 24px;
        }

        .listenMusic span,
        .collectiontitle span {
            font-size: 14px;
        }

        .annai {
            font-size: 14px;
            line-height: 2;
        }

        .listenMusic .annai {
            padding-bottom: 50px;
        }

        .category li:last-of-type {
            margin-bottom: 50px;
        }

        .category li h3 {
            font-size: 24px;
        }

        .categoryleft {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        .categorycenter {
            grid-column: 1/3;
            grid-row: 1/2;

        }

        .categorycenter p {
            font-size: 14px;
        }

        .categoryright {
            display: none;
        }

        .categoryleft img {
            width: 80px;
        }

        .collection {
            padding: 60px 0 100px;
        }

        .ringCollection {
            padding: 40px 0;
        }

        .ringCollection ul li img {
            width: 80px;
        }

        .listenMusic .button,
        .collection .button {
            width: 160px;
            font-size: 14px;
            padding: 8px 0;
        }

        .collection .button {
            width: 200px;
        }

        .listenMusic .button::after,
        .collection .button::after {
            top: 10px;
            right: 0;
        }

        footer {
            padding: 20px;
            gap: 10px;
        }

        footer nav ul {
            gap: 10px;
        }

        footer nav li a {
            font-size: 14px;
        }

        .detailfooter ul {
            gap: 30px;
            font-size: 12px;
        }

        footer span {
            font-size: 10px;
        }
    }